---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Navbar from '@/sections/Navbar.astro';
---

<Layout title="Welcome to Astro.">
	<div class="w-full h-dvh bg-[url('./smoke_to_header.jpg')] bg-cover">
		<Navbar />
		<Hero />
	</div>
	
	<main>

	</main>
</Layout>
