---
import Layout from '@/layouts/Layout.astro';
import About from '@/sections/About.astro';
import Characteristics from '@/sections/Characteristics.astro';
import Hero from '@/sections/Hero.astro';
import Navbar from '@/sections/Navbar.astro';
---

<Layout title="Welcome to Astro.">
	<div class="w-full h-full bg-cover bg-[url('/smoke_to_header.jpg')]">
		<Navbar />
		<Hero />
	</div>
	<main>
		<About />
		<Characteristics />

	</main>
</Layout>

