---
const {subtitle, title} = Astro.props
---
<div class="border-l-2 border-secondary pl-4 mb-8">
    <h4 class="text-base text-secondary font-normal">{subtitle}</h4>
    <h6 class="uppercase text-2xl text-primary font-medium">{title}</h6>
</div>