---
import SectionTitle from '@/components/SectionTitle.astro'
import { getAbout } from "@/utils/functions/getData";

const about = getAbout() 
---
<section class="w-full flex justify-center items-center gap-8">
    <div class="w-[40%] py-20">
        <SectionTitle subtitle="Quienes Somos" title="Nuestra Historia" />
        <div class="h-[250px]">
            <iframe class=" rounded-lg" width="400" height="250" src="https://www.youtube.com/embed/PCZ2JHaPvZ4?si=raCOv2dDNuizzClL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
    <div class="w-[40%] py-20">
        <SectionTitle subtitle={about.subtitle} title={about.title} />
        <div class="h-[250px]">
            <p class="text-secondary text-lg">{about.description}</p>
        </div>
    </div>
</section>