---
import Navbar from "./Navbar.astro"
---

<section class="relative max-full m-auto h-full uppercase text-7xl font-bold flex justify-center items-center">
    <img class="absolute opacity-40" src="gym_bro_one.png" alt="Gym bro">
    <div class=" text-center mb-16 z-0">
        <h2 class="text-primary mb-4">Es tiempo de cambiar</h2>
        <h2 class="text-secondary">Empeza tu transformación</h2>
    </div>
    

</section>